/******************************************
/* LAYOUT                   
/*******************************************/

body{
	max-width: 1280px;
	margin: 0 auto;
}

.site-header,
.site-footer,
.site-content {
	text-align:center;
}
.site-header h1 {
	color:red;
}

.thumbs {
	margin-bottom:2em;
}
.thumbs img {
	display:inline-block;
}


/******************************************
/* TYPOGRAPHY
/*******************************************/
.fancybox-next{
	right: -150%!important;
}

.fancybox-wrap { 
	position:fixed !important; 
	top:20% !important;
}
#fancybox-thumbs.bottom{
	bottom: 0px !important;
}

li{
	display: inline;
	padding: 0.5rem;
	letter-spacing: 0.2rem;
	line-height: 2rem;
}
ul{
	width: 40%;
	background: black;
	text-align: center;
	margin: auto;
	padding-left: 0;
}
nav{
	position: fixed; z-index: 99999;
	background-color: black;
	width: 100%;
}

a{
	text-decoration: none;
	color: #fff;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	trantition: color 0.5s;
}
a:hover{
	color: #ffd700;
}

body{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
	font-family: 'lato', sans-serif;
}
.pages{
	padding-top: 5rem;
}


div{
	margin: 5% auto;
	background: rgba(0,0,0, .4); 
	padding: 3%;
	width: 40%;

}

h1,h2,table{
	text-align: center;
	letter-spacing: 2px;
	font-family: 'lato', sans-serif;
	font-weight: 100;
}
h2{
	font-size: 1rem;
	margin-top: 0;
}

p{
	letter-spacing: 0.1rem;
	text-align: center;
	line-height: 1.5rem;
	margin: 2rem;

}
.italic{
	font-style: italic;
}

.onlinebooking{
	margin: 3rem auto;
	width: 70%;
}
.onlinebooking p{
	text-align: left;
}

.structure, .inner, .instructions{
	display: inline-block;
	margin: 1%;
	padding: 0;
	background: none;
}
.instructions, .structure{
	vertical-align: top;
}
.instructions{
	width: 90%;
	margin: 5%;
}

.structure{
	width: 45%;
}
.structure p{
	margin: 1%;
	font-size: 14px;
	background: none;
}
.inner{
	width: 46%;
}
.norm-form{
	width: 96%;
}
.norm-form,.button{
	display: inline-block;
	margin: 1% 1% 4% 0;
	padding: 0;
	background: none;

}

input{
	width: 98%;
	height: 27px;
	border-radius: 5px;
}
label{
	font-size: 10px;
	padding-left: 1%;
}
input[type="email"], input[type="text"], input[type="tel"], input[type="date"]{
	color:black;
	padding-left: 3%;
}

.norm-form-label{
	font-size: 14px;
}

.button{
	width: auto;
	text-align: center;
	margin: 10% auto;
	width: 55%;
	color: white;
	font-size: 15px;
	display: block;

}

.button input{
	border: 2px solid red;
	background-color: black;
	cursor:pointer;
	-webkit-transition: background-color 0.5s;
	-mox-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
.button:hover{
	color: white;
}
.button input:hover{
	background-color: red;
}


legend{
	text-align: center;
	text-transform: uppercase;
}
span{
	font-weight: 100;
	line-height: 35px;
}
.instructions p{
	margin-bottom: 30px;
}

.site-content {

}
.site-footer {
}

.menu-section{
	padding: 2%;
	margin: auto;
	width: 70%;
	margin-bottom: 5rem;
}
div.toggler { 
	background:none; 
	cursor:pointer; 
	padding: 1% 0% 2% 2%;
	margin: 0;
	width: 30%;
	display: inline-block;

}
.toggler h2:hover{
	color: red;
}
div.toggler div { 
	display:none; 
	margin: none;
	padding: 0;
	background: none;
	width: 100%;
	line-height: 1.3rem; 
}

table {
    counter-reset: rowNumber;
    font-size: 0.7rem;   
    text-align: left;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1rem;
    margin-right: 0.5em;

}

table tr td:last-child{
    min-width: 1em;
    padding-left: 2em;
    vertical-align: bottom;
}
#gallery{
	padding-top: 0;
}

#gallery div{
	width: 750px;
	margin: 0 auto;
}
footer div{
	background: rgba(0,0,0,0);
}
#contact-us{
	padding-top: 5%;
}

.container{
	height: 720px;
}

.half{
	float: left;
	display: inline-block;
	background: rgba(0,0,0,0);
	width: 40%;
	margin-top: 5%;
}

.half:nth-of-type(2){
	float: right;
}
footer{
	clear: both;
}
/*Mobile*/

@media only screen and (max-width: 800px){
	body{
		width: 100%;
		background-size: 100%;
		background-color: #C1C1C1;
		background-position: bottom;
	}

	div{
		width: 70%;
		background: rgba(0,0,0, .4); 
		padding: .8rem;
		font-size: .7rem;
		margin: 0 auto;
	}
	ul{
		display: block;
		width: 60%;
		font-size: 0.8rem;
	}
	nav{
		background-color: black;
	}
	.instructions p{
		font-size: 0.8rem;
	}
	#gallery{
		padding-top: 0;
	}

	#gallery div{
		width: 490px;
		margin: 0 auto;
	}
	div.toggler{
		width: 100%;
	}

	.fancybox-next{
	right: -43%!important;
	}

}


@media only screen and (max-width: 500px){
	body{
		width: 100%;
		background-size: 100%;
		background-position: bottom;
		background-color: #C1C1C1;
	}

	.fancybox-next{
		display: none;
	}
	.fancybox-prev{
		display: none;
	}
	div{
		width: 95%;
		background: rgba(0,0,0, .4); 
		padding: .5rem;
		font-size: .8rem;
		margin: 25% 0;
	}

	#gallery{
		padding-top: 0;
	}

	#gallery div{
		width: 240px;
	}

	.nav-icon,
	.nav-icon:before,
	.nav-icon:after {
	content:"";
	position:absolute;
	right:1em;
	width:2em;
	height:2em;
	border-top:0.25em solid black;
	}
	.nav-icon {
		display:none;
		top:0.75em;
		margin-top: 1em;
	}

	.structure{
		width: 100%;
	}
	div.toggler{
		width: 100%;
	}
}


@media screen and (max-width: 640px) {
	.nav-icon { 
		display:block; 
	}

	.fancybox-next{
	right: -43%!important;
}
	.nav-icon:before {
		top:0.25em;
		right:0;
	}
	.site-nav ul{
		width: 75%;
		display: block;
	}
	#home div{
		margin-top: 0;
	}
	.site-nav{
		background-color: rgba(0,0,0,0);
	}
	.nav-icon:after {
		top:0.75em;
		right:0;
		
	.structure{
		width: 95%;
	}
	div.toggler{
		width: 100%;
	}
	#name{
		width: 65%;
	}
	#surname{
		width: 65%;
	}
	.menu-section{
		width: 96%;
		margin: 0;
	}
	.inner{
		width: 100%;
		float: none;
	}

	ul{
		width: 40%;
		background: rgba(0,0,0,0);
		text-align: center;
		padding-left: 0;
		text-align: center;
	}
	nav{
		position: fixed; z-index: 99999;
		background-color: rgba(0,0,0,0.75);
		width: 100%;
		margin: 0;

	}
	li{
	padding: 0px;
	display: none;
	}
	.pages{
		padding-top: 130px;
	}
}



/*When i put the right closing curly brackets at places on media screen things start breaking. ie. 
click icon to reveal menu no longer works. not sure why. 

*/
/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

